<p>
  <form (ngSubmit)="onPlaceStock(f)" #f="ngForm">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Place Stock</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h5 style="color: red;">* Means the field is mandatary.</h5>
          </div>
        </div>
      </div>


    <!--   <div class="form-group">
          <mat-form-field class="example-full-width">
           <input placeholder="Ingredient Name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="StockNAME" required
           id="StockNAME" required name="StockNAME">
             <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of stockname" [value]="option">
              {{option}}
            </mat-option>
           </mat-autocomplete>
          </mat-form-field>
      </div>
 -->
 <div class="container">
  <div class="form-group">
    <div class="example-container">

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Ingredient Name" aria-label="Number" matInput [(ngModel)]="StockNAME" [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      </div>
</div>
</div>

<div class="container">
  <div class="example-container">

    <mat-radio-group class="example-radio-group example-full-width" [(ngModel)]="StockTYPE" name="radio">
      <mat-radio-button (change)="onstocktype(item)" class="example-radio-button" *ngFor="let item of stocktypearr" [value]="item">
        {{item}} &nbsp;
      </mat-radio-button>
    </mat-radio-group>&nbsp;&nbsp;

        <mat-form-field class="example-full-width">
            <input autocomplete="off" spellcheck="false" type="number" matInput placeholder="Ingredient Qty" [(ngModel)]="StockQTY" id="StockQTY" required name="StockQTY"
              #StockQTY1="ngModel">
            <mat-error *ngIf="StockQTY1.hasError('required')">
              Ingredient qty is required.
            </mat-error>
          </mat-form-field>
   </div>
</div>



<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <button style="width:100px;" type="submit" [disabled]="!f.valid" mat-raised-button color="primary" class="form-control">Save</button>
    &nbsp;&nbsp;<button style="width:100px;" mat-raised-button class="form-control" (click)="onClickCancel()">Cancel</button>

  </div>
</div>
</form>
<br>
<div class="row" *ngIf="Stockarr.length>0">
<div class="col-md-4">

</div>
<div class="col-md-4">

<table border="1" widht="50%" height="50%">
    <th>Name</th>
    <th>Qty(Gram.)</th>

  <tr *ngFor="let item of Stockarr">
    <td>{{item.StockNAME}}</td>
    <td>{{item.StockQTY}}</td>
  </tr>
</table>
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <button *ngIf="Stockarr.length>0" (click)="onfinalplace()" style="width:100px;" type="submit" [disabled]="!f.valid" mat-raised-button color="primary" class="form-control">Place Order</button>
  </div>
</div>

<br>


