  body{
  background-repeat: no-repeat;
     width: 100vw;
    height: 100vh;
    background-image:url("http://localhost:3000/images/welcomeImage.jpg");
    background-size:130%;

 }
.text{
 font-size:120px;
 color:lightblue;
  font-family:fantasy;
 font-style:bold;

}
