<div class = "container">

    <div class="row">
       <div class="col-md-4">
             <h3>Admin details</h3>
       </div>
    </div>
<br>
<br>
    <div class = "row">
      <div class = "col-md-5"></div>
      <div class = "col-md-5">
        <img src="http://localhost:3000/images/{{EmpIMG}}" height="150" width="150">
      </div>
    </div>

    <br>
    <br>
    <div class = "row">
      <div class = "col-md-3" style = "font-size:23px;"><b>Name</b> </div>
      <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpNAME}}</p></div>
    </div>

    <div class = "row">
      <div class = "col-md-3" style = "font-size:23px;"><b>Gender</b></div>
      <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpGENDER}}</p></div>
    </div>

    <div class = "row">
        <div class = "col-md-3" style = "font-size:23px;"><b>Address</b></div>
        <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpADDRESS}}</p></div>
    </div>

    <div class = "row">
        <div class = "col-md-3" style = "font-size:23px;"><b>City</b></div>
        <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpCITY}}</p></div>
    </div>

    <div class = "row">
        <div class = "col-md-3" style = "font-size:23px;"><b>Mobile</b></div>
        <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpMOBILE}}</p></div>
    </div>


    <div class = "row">
        <div class = "col-md-3" style = "font-size:23px;"><b>Category</b></div>
        <div class = "col-md-5"><p style = "font-size:23px;">:- {{EmpCATEGORY}}</p></div>
    </div>
  </div>
