<div class = "container">
  <div class = "rows">
    <div class = "col-md-4 col-sm-4"></div>
    <div class = "col-md-4 col-sm-4">
      <h2><b><u>Invoice Details</u></b></h2>
    </div>
  </div>
</div>

<div class = "container">
  <div class="rows">
    <div class="col-md-3">
        <h3><br><b>Buddy's Pizza</b></h3>
        <p>
          <b>105-106,Kairos,Near ManavMandir,
             Gurukul,Ahmedabad-380052.
          </b>
        </p>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
            <h4><br>
            <b>
            <p>Invoice No:-{{InvoiceID}}</p>
            <p>Date:- {{InvoiceDATE | date}}</p></b></h4>
    </div>
  </div>
</div>

<br>
<br>
<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off" spellcheck="false">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>

      <ng-container matColumnDef="No" let i="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
        <mat-cell *matCellDef="let row; let i = dataIndex;">{{i+1}}</mat-cell>
      </ng-container>


    <ng-container matColumnDef="ItemNAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
      <td mat-cell *matCellDef="let element"> {{element.itemNAME}} </td>
    </ng-container>

    <ng-container matColumnDef="PRICE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element"> {{element.itemPRICE}} </td>
    </ng-container>


    <ng-container matColumnDef="QTY">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.InvoiceDetQTY}} </td>
    </ng-container>

    <ng-container matColumnDef="TOTAL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let element"> {{element.InvoiceDetPrice}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20,30,40,50]" showFirstLastButtons></mat-paginator> -->
  <br>
  <br>

</div>

