example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-left:10px;
  width: 20%;
}
th,tr
{
  width:400px;
  height:30px;
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
