<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="400px">
    <div (click)="onclick()">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h4>Today's Order</h4>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
              <!-- <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
                <td mat-cell *matCellDef="let element;let i = dataIndex;">{{i+1}}</td>
              </ng-container> -->

              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                <td mat-cell *matCellDef="let element"> {{element.itemNAME}} </td>
              </ng-container>

              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
                <td mat-cell *matCellDef="let element"> {{element.OrderQty}} </td>
              </ng-container>


              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let element"> {{element.itemPRICE}} </td>
              </ng-container>

              <ng-container matColumnDef="tableNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Table No</th>
                <td mat-cell *matCellDef="let element"> {{element.TableNO}} </td>
              </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </div>
  <!-- 2nd -->
  <div (click)="onclickstock()">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h4>Stock Alerts</h4>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu1" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu1="matMenu" xPosition="before">
              <button mat-menu-item></button>
              <button mat-menu-item></button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

              <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" matSort multiTemplateDataRows>

                  <ng-container matColumnDef="StockNAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.StockNAME}} </td>
                  </ng-container>


                  <ng-container matColumnDef="StockQTY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Qty</th>
                    <td mat-cell *matCellDef="let element"> {{element.StockQTY}} </td>
                  </ng-container>

                  <ng-container matColumnDef="StockALERT">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>StockAlert</th>
                    <td mat-cell *matCellDef="let element"> {{element.StockALERT}} </td>
                  </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>


  <!-- </mat-grid-list> -->

  <!-- 4th -->
  <div (click)="oncharity()">
  <!-- <mat-grid-list cols="2" rowHeight="350px" (click)="onclick()"> -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h4>Charity</h4>
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu2" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu2="matMenu" xPosition="before">
              <button mat-menu-item>abc</button>
              <button mat-menu-item>pqr</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
              <div class="container" *ngFor="let item of charity">
                  <div class="list-group-item" style="width:500px;">
                    <div class="container">
                      <div class="rows">
                        <!-- <div class="rows"> -->
                          <div class="col-md-4 col-sm-1">
                            <mat-card ><h3> Charity Name:{{item.CharityNAME}}</h3></mat-card>
                           </div>

                          <div class="col-md-1 col-sm-3">
                            <button style="margin-top:10px;" mat-fab color="primary" (click)="onsend(item.CharityID)">
                              <mat-icon>email</mat-icon>
                            </button>
                          </div>
                      </div>
                      </div>
                    </div>

                  </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </div>
  <!-- </mat-grid-list> -->

<!-- 3rd -->
<div>
    <!-- <mat-grid-list cols="2"  (click)="onclick()"> -->
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h4>Payments</h4>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="onTodayPay()" mat-menu-item>Today</button>
                <button (click)="onMonPay()" mat-menu-item>Monthly</button>
                <button (click)="onYerPay()" mat-menu-item>Monthly</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
                <br>
                <br>
                <h2>Total Cash Payment  : {{this.totalcash}}</h2>
                <h2>Total Card Payment  : {{this.totalcard}}</h2>

                <!-- <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a Start date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose an End date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      </div>


</mat-grid-list>
</div>
