<br>
<div class="container">
    <div class="rows">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align: center; font-size: 25px;"><b>Employee Management</b></div>
    </div>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
        </div>
        <div class="col-md-4 col-sm-4">
          <button mat-raised-button color="primary" style="font-size: 20px;" (click)="onAddnewEmployee()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Employee
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>

<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSourceofEmployee" class="mat-elevation-z8" matSort multiTemplateDataRows>
    <!-- <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef > all </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onCheckchange(element)" color="warn"></mat-checkbox>
      </td>
    </ng-container> -->


    <ng-container matColumnDef="EmpNAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.EmpNAME}} </td>
    </ng-container>


    <ng-container matColumnDef="EmpCATEGORY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Category </th>
      <td mat-cell *matCellDef="let element"> {{element.EmpCATEGORY}} </td>
    </ng-container>

    <ng-container matColumnDef="EmpMOBILE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
      <td mat-cell *matCellDef="let element"> {{element.EmpMOBILE}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="basic" (click)="onEmployeeEdit(element.EmpID)">
          <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
        </button>
        <!-- &nbsp;&nbsp;
        <button mat-mini-fab color="primary" (click)="onDeleteOneEmployee(element)">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button> -->

      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsofEmployee.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">

            <div class="example-element-symbol"> <img src="http://localhost:3000/images/Emp_images/{{element.EmpIMG}}"
                height="200px:" width="150"> </div>

          </div>
          <div class="example-element-description">
              <div class="row">
                  <div class="col-md-3"><b>Name:</b>
                  </div>
                  <div class="col-md-5">
                      {{element.EmpNAME}}
                  </div>
                </div>
            <div class="row">
              <div class="col-md-3"><b>Address:</b>
              </div>
              <div class="col-md-5">
                  {{element.EmpADDRESS}}
              </div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>City:</b>
                </div>
                <div class="col-md-5">
                    {{element.EmpCITY}}
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3"><b>Gender:</b>
                  </div>
                  <div class="col-md-5">
                      {{element.EmpGENDER}}
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Mobile:</b>
                    </div>
                    <div class="col-md-5">
                      {{element.EmpMOBILE}}
                    </div>
                  </div>


          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsofEmployee"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsofEmployee;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <br>

  <br>

</div>

<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-5">
      <button mat-raised-button color="warn" style="font-size: 15px;" [disabled]="delemployee.length==0" (click)="onDeleteAllEmployee()">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All
      </button>
    </div>
  </div>
</div> -->
