<body>
  <div class = "container">
      <div class = "rows">
          <div class = "col-md-3 col-sm-3"></div>
          <div class = "col-md-2 col-sm-2">
              <div class = "div1">
                <form (ngSubmit)="onEmpForgotPassword()" #f="ngForm">
                <div class = "rows" height = "150">
                  <div class = "col-md-3 col-sm-3"></div>
                  <div class = "col-md-4 col-sm-4">
                     <img src = "http://localhost:3000/images/logo.jpg" style = "margin-top:10px;" height = "150" width = "150">
                  </div>
                </div>

                <div class = "rows" height = "50">
                    <div class="example-container">
                    <mat-form-field class = "example-full-width">
                        <input autocomplete="off" spellcheck="false" matInput placeholder="Enter your email" required email name = "EmpID" [(ngModel)]="EmpID" #empID="ngModel">
                        <mat-error *ngIf="empID.hasError('required')">Please enter your email id</mat-error>
                        <mat-error *ngIf="!empID.hasError('required')">Please enter valid email id</mat-error>
                    </mat-form-field>
                    </div>
                  </div>




                <div class = "rows" height = "50" style = "margin-top:50px;">
                    <div class = "col-md-4 col-sm-4"></div>
                    <div class = "col-md-4 col-sm-4">
                    <button type="submit" mat-raised-button color="primary" [disabled]= "((EmpID=='') || !f.valid) " >Done
                    </button>
                    </div>
                </div>


               </form>
             </div>

          </div>
      </div>
  </div>
  </body>


