.div1{
  border-radius:15px;
  border:1px solid rgb(19, 18, 18,0.1);
  height:400px;
  width:420px;
  position:relative;
  margin-top:130px;
  margin-left:70px;
  padding:10px;
  background-color:white;
  box-shadow:10px 10px 10px;
}
.example-full-width {
  margin-left:10px;
  width:92%;
  margin-top:10px;
  font-size: 17px;
}
body{
   background-repeat: no-repeat;
   width: 100vw;
   height: 100vh;
   background-image:url("http://localhost:3000/images/welcomeImage.jpg");
   background-size:130%;

  }

