<form (ngSubmit)="onSave(f)" #f="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>&nbsp;&nbsp;Employee Details</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 style="color: red;">&nbsp;&nbsp;* Means the field is mandatary.</h5>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="example-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Employee Email ID" [(ngModel)]="EmpID" name="EmpID" [disabled]="true">
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User name" required [(ngModel)]="EmpNAME" name="EmpNAME" #EmpNAME1="ngModel">
        <mat-error *ngIf="EmpNAME1.hasError('required')">
          Name is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="container">
      <div class="example-container">
        <mat-label>Gender:</mat-label>
        <mat-radio-group class="example-radio-group example-full-width" [(ngModel)]="EmpGENDER" name="radio">

          <mat-radio-button class="example-radio-button" *ngFor="let item of genderarr" [value]="item">
            {{item}} &nbsp;
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <br>
    <div class="container">
      <mat-label><b>Profile Photo:</b></mat-label>

      <div class="row">
        <div class="col-md-3">
          <img src="http://localhost:3000/images/Emp_images/{{EmpIMG}}" height="200px:" width="150">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-sm-7">

          <div class="form-control">
            <input type="file" class="form-group" (change)="onSelectPicture($event)" placeholder="Add Picture"
              [(ngModel)]="updateEmpIMG" name="updateEmpIMG">
          </div>

        </div>
      </div>
    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="City" [(ngModel)]="EmpCITY" name="city">
          <mat-option *ngFor="let item of cityarr" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <span matPrefix>+91 &nbsp;</span>
        <input type="text" matInput placeholder="Mobile No" required [(ngModel)]="EmpMOBILE" name="EmpMOBILE"
          #EmpMOBILE1="ngModel">

      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" required rows="5" cols="20" [(ngModel)]="EmpADDRESS"
          name="address"></textarea>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="CATEGORY" [(ngModel)]="EmpCATEGORY" name="CATEGORY">
          <mat-option *ngFor="let item of categoryarr " [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <div class="row">
      <div class="col-md-5">
        <button type="submit" [disabled]="!f.valid" mat-raised-button color="primary" class="form-control">Save</button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <button mat-raised-button class="form-control" (click)="OnClickCancle()">Cancel</button>
      </div>
    </div>
  </div>
</form>
