<div class = "container">
  <div class="row">
       <div class="col-md-4">
            <h3>Change Password</h3>
      </div>
     </div>
     <br>
     <br>

     <div class = "rows">
        <div class = "col-md-0 col-sm-0"></div>
        <div class = "col-md-0 col-sm-0">
            <div class = "div1">
              <form (ngSubmit)="onSave()" #f="ngForm">

              <div class = "rows" height = "50" >
                  <div class="example-container">
                  <mat-form-field class = "example-full-width">
                      <input autocomplete="off" spellcheck="false" matInput placeholder="Enter your email" required email name = "EmpID" [(ngModel)]="EmpID" #empID="ngModel" disabled>
                  </mat-form-field>
                  </div>
                </div>

              <div class = "rows" height = "50" style = "margin-top:30px;">
                  <div class="example-container" >
                  <mat-form-field class = "example-full-width">
                      <input [type] = "flag ? 'password' : 'text'"  spellcheck="false" [(ngModel)]="EmpPassword" matInput placeholder="Enter your password" required name = "EmpPASSWORD" [(ngModel)]="EmpPASSWORD" #empPASSWORD="ngModel" maxlength="15" minlength="8">
                      <mat-error *ngIf="empPASSWORD.hasError('required')">Please enter your password</mat-error>
                      <mat-error *ngIf="!empPASSWORD.hasError('required')">Password must have 8 characters</mat-error>

                      <mat-icon matSuffix (click)="flag = !flag">{{flag ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-hint align="end">{{empPASSWORD.value?.length}}/15</mat-hint>
                    </mat-form-field>
                    </div>
              </div>


              <div class = "rows" height = "50" style = "margin-top:30px;">
                  <div class="example-container" >
                  <mat-form-field class = "example-full-width">
                      <input [type] = "flag1 ? 'password' : 'text'"  spellcheck="false" [(ngModel)]="EmpRepassword" matInput placeholder="Re-enter password" required name = "EmpREPASSWORD" [(ngModel)]="EmpREPASSWORD" #emprePASSWORD="ngModel" maxlength="15" minlength="8">
                      <mat-error *ngIf="emprePASSWORD.hasError('required')">Please re-enter your password</mat-error>
                      <mat-error *ngIf="!emprePASSWORD.hasError('required')">Password must have 8 characters</mat-error>

                      <mat-icon matSuffix (click)="flag1 = !flag1">{{flag1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-hint align="end">{{emprePASSWORD.value?.length}}/15</mat-hint>
                    </mat-form-field>
                    </div>
              </div>

              <br>
              <div class="rows">
                <div class="col-md-0"></div>
                <div class="col-md-3">
                  <button type = "submit" mat-raised-button color="primary" [disabled]= "((EmpPassword=='' || EmpRepassword=='') || !f.valid) ">Save</button></div>
                  <div class="col-md-3">
                  <button (click)="onBack()" mat-raised-button color="primary" >Cancel</button>
                  </div>
              </div>

            </form>
           </div>

        </div>
    </div>
</div>



